{% extends "base.html" %}

{% block title %}
App Engine Skeleton
{% endblock %}

{% block main %}
<h1>Getting started with app engine</h1>

<p>
Good job, you booted an instance of app engine.

This project contains a very basic starting place for an app
engine app, including a framework (webapp2), a templating
engine (jinja2), and HTML5 boilerplate.
</p>

<p>Links to documentation:</p>

<ul>
    <li><a href="http://code.google.com/appengine/docs/python/overview.html">App engine python</a></li>
    <li><a href="http://webapp-improved.appspot.com/index.html">Webapp2 framework</a></li>
    <li><a href="http://jinja.pocoo.org/docs/">Jinja2 templates</a></li>
    <li><a href="http://html5boilerplate.com/">HTML5 boilerplate</a></li>
</ul>

<p>Demo pages:</p>

<ul>
    <li><a href="/simple/raargh">/simple/raargh</a></li>
    <li><a href="/signup">/signup</a></li>
</ul>

<p>Dev env:</p>

<ul>
    <li><a href="/_ah/admin">/_ah/admin</a> (dev admin console)</li>
</ul>


{% endblock %}
